# Исследование надежности заемщиков

### Оглавление

* [Вступление](#id_1) 
  * [Описание проекта](#id_1a)
  * [Библиотеки ](#id_1b)
  * [Загрузка данных](#id_1c)
* [Предобработка данных](#id_2)
  * [Удаление пропусков](#id_2a)
  * [Изменение типов данных](#id_2c)
  * [Обработка дубликатов ](#id_2d)
  * [Категоризация данных ](#id_2e)
* [Анализ данных](#id_3)
  * [Зависимость между количеством детей и возвратом кредита в срок](#id_3a)
  * [Зависимость между семейным положением и возвратом кредита в срок](#id_3b)
  * [Зависимость между уровнем дохода и возвратом кредита в срок](#id_3c)
  * [ Влияние  цели кредита  на его возврат в срок](#id_3d)
* [Вывод по проекту](#id_4)

## Вступление <a class="anchor" id="id_1"></a>

### Описание проекта <a class="anchor" id="id_1a"></a>

По заказу кредитного отдела банка мне нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга.

#### Библиотеки <a class="anchor" id="id_1b"></a>

In [ ]:
import pandas as pd

### Загрузка данных <a class="anchor" id="id_1c"></a>

In [1]:
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Вывод основной информации о датафрейме:

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных <a class="anchor" id="id_2"></a>

### Работа с пропусками  <a class="anchor" id="id_2a"></a>

Вывод количества пропущенных значений для каждого столбца:

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Так как на сумму дохода сильнее всего влияет тип занятости, пропуски в колонке "total_income" заполню медианным значением по каждому типу занятости из колонки "income_type". Заполнение медианой является лучшим решением потому, что таким образом, можно нивелировать влияние некоторых переменных, которые в силу своей размерности  сильно бы искажали результаты анализа в ту или иную сторону:

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений  <a class="anchor" id="id_2b"></a>

Исправление отрицательных значений в колонке 'days_employed':

In [6]:
data['days_employed'] = data['days_employed'].abs()

Вывод медианного значения трудового стажа  колонки 'days_employed' в днях:

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения не представляется возможным, поэтому оставлю их как есть. Тем более этот столбец не понадобится для исследования.

Вывод уникальных значений столбца 'children':

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

Удаление аномальных значений:

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

Заполнение пропусков в столбце 'days_employed' медианными значениями по каждому типа занятости:

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Количество пропусков после проведенной работы:

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных   <a class="anchor" id="id_2c"></a>

Замена вещественного типа данных в столбце 'total_income' на int:

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов    <a class="anchor" id="id_2d"></a>

Вывод количества дубликатов:

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

Приведение содержимого колонки 'education' к нижнему регистру:

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных <a class="anchor" id="id_2e"></a>

Назначение категорий в колонке 'total_income_category' по сумме дохода:  
- 0–30000 — `'E'`;  
- 30001–50000 — `'D'`;  
- 50001–200000 — `'C'`;  
- 200001–1000000 — `'B'`;  
- 1000001 и выше — `'A'`.

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Вывод  уникальных целей взятия кредита из столбца 'purpose':

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создание новой колонки purpose_category, в которой будут категории операций на основе данных из колонки purpose:

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Анализ данных <a class="anchor" id="id_3"></a>

### Зависимость между количеством детей и возвратом кредита в срок <a class="anchor" id="id_3a"></a>

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#Создадим мини-датасет с интересующими нас данными
data_1 = pd.DataFrame()
##колонка c числом должников
data_1['number_of_debtors'] = data.groupby('children')["debt"].sum()
##колонка с численностью по категориям
data_1['category_number'] = data.groupby('children')['debt'].count()
##колонка с процентным соотношением числа должников в категории к численности этой категории
try:
    data_1['Percent_of_category_number'] = data_1['number_of_debtors']/data_1['category_number']*100    
except:
    print('Проверьте правильность данных')

display(data_1.sort_values('Percent_of_category_number',ascending=False))

          number_of_debtors  category_number  Percent_of_category_number
children
4                         4               41                    9.756098
2                       194             2052                    9.454191
1                       444             4809                    9.232689
3                        27              330                    8.181818
0                      1063            14107                    7.535266
5                         0                9                    0.000000

**Вывод:** Как видно из вышепредставленной таблицы, данные неоднозначны. Хотя с  увеличением количества детей вырастает процент людей, допустивших просрочку платежа: на  первом месте идут люди с 4 детьми (9.75% от численности этой категории), вторыми - идут люди с двумя детьми, но затем идут лица с одним ребенком.На мой взгляд гипотеза о том, что число детей влияет на возврат кредита подтверждается, но она носит не выраженный характер и необходима еще большая выборка, чтобы подтвердить гипотезу о том, что вероятность просрочки увеличивается по мере роста числа детей.

### Зависимость между семейным положением и возвратом кредита в срок <a class="anchor" id="id_3b"></a>

In [23]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#Создадим мини-датасет с нужными колонками
data_2=pd.DataFrame()
##колонка c числом должников
data_2['number_of_debtors'] = data.groupby('family_status')['debt'].sum()
##колонка с численностью по категориям
data_2['category_number'] = data.groupby('family_status')['debt'].count()
##колонка с процентным соотношением числа должников в категории к численности этой категории
try:
    data_2['Percent_of_category_number'] = data_2['number_of_debtors']/data_2['category_number']*100
except:
    print('Проверьте правильность данных')
display(data_2.sort_values('Percent_of_category_number',ascending=False))

,number_of_debtors,category_number,Percent_of_category_number
family_status,,,
Не женат / не замужем,273,2796,9.763948
гражданский брак,385,4146,9.286059
женат / замужем,927,12266,7.557476
в разводе,84,1189,7.064760
вдовец / вдова,63,951,6.624606

**Вывод:** Как видно из представленной таблицы, среди лиц, не состоящих в браке, наибольший процент должников (почти 10%). На мой взгляд это связанос тем, что такие люди могут рассчитывать только на себя при выплате кредита, также сюда попадают молодые люди, у которых может еще нет устойчивого заработка. Женатые/замужние люди занимают среднюю позицию, а вдовы/вдовцы имеют хорошую платежную дисциплину. Исходя из этих данных, я могу сделать вывод, что гипотеза о том, что  есть ли зависимость между семейным положением и возвратом кредита в срок, подтверждается.

### Зависимость между уровнем дохода и возвратом кредита в срок <a class="anchor" id="id_3c"></a>

In [24]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#Создадим мини-датасет с нужными колонками
data_3=pd.DataFrame()
##колонка c числом должников
data_3['number_of_debtors'] = data.groupby('total_income_category')['debt'].sum()
##колонка с численностью по категориям
data_3['category_number'] = data.groupby('total_income_category')['debt'].count()
##колонка с процентным соотношением числа должников в категории к численности этой категории
try:
    data_3['Percent_of_category_number'] = data_3['number_of_debtors']/data_3['category_number']*100
except:
    print('Проверьте правильность данных')

display(data_3.sort_values('Percent_of_category_number',ascending=False))

,number_of_debtors,category_number,Percent_of_category_number
total_income_category,,,
E,2,22,9.090909
C,1353,15938,8.489145
A,2,25,8.000000
B,354,5014,7.060231
D,21,349,6.017192

**Вывод:** Как видно из представленной таблицы, наиболее высокий процент должников среди лиц категории с минимальными доходами(9% от численности этой группы). Но затем идут лица с со средними доходами и максимальными доходами( что наверно, может быть объяснено тем, что они берут большие кредиты или завышают свой доход при их оформлении). Замыкают таблицу люди с доходами категории В и D, т.е люди (не самые богатые и не совсем бедные). Исходя из распределения числа должников, я не могу подтвердить гипотезу, что  есть  зависимость между уровнем дохода и возвратом кредита в срок.

### Влияние  цели кредита  на его возврат в срок <a class="anchor" id="id_3d"></a>

In [25]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#Создадим мини-датасет с интересующими нас данными
data_4 = pd.DataFrame()
##колонка c числом должников
data_4['number_of_debtors'] = data.groupby('purpose_category')["debt"].sum()
##колонка с численностью по категориям
data_4['category_number'] = data.groupby('purpose_category')['debt'].count()
##колонка с процентным соотношением числа должников в категории к численности этой категории
try:
    data_4['Percent_of_category_number'] = data_4['number_of_debtors']/data_4['category_number']*100
except:
    print('Проверьте правильность данных')
display(data_4.sort_values('Percent_of_category_number',ascending=False))

#____________Решение той же задачи с помощью PiVOT_TABLE()________________
print('\n________________Решение той же задачи с помощью PiVOT_TABLE()________________')
##Строим сводную таблицу
data_pivot = data.pivot_table(
    index=['purpose_category'],  values=['debt'],aggfunc=['sum','count','mean'])

##Форматируем струтуру таблички
data_pivot = data_pivot.rename(columns={'sum':'number_of_debtors',
                                        'count':'category_number',
                                       'mean':'percent_of_category_number'})
###Убираем мильтииндексы
data_pivot = data_pivot.droplevel(level=1,axis=1)
###Выводим данные в процентах в последней колонке
data_pivot['percent_of_category_number'] = data_pivot['percent_of_category_number']*100

##Выводим таблицу на экран, отсортированную по убыванию значений в колонке 'percent_of_category_number'
display(data_pivot.sort_values('percent_of_category_number',ascending=False))

,number_of_debtors,category_number,Percent_of_category_number
purpose_category,,,
операции с автомобилем,400,4281,9.343611
получение образования,369,3989,9.250439
проведение свадьбы,183,2324,7.874355
операции с недвижимостью,780,10754,7.253115

________________Решение той же задачи с помощью PiVOT_TABLE()________________

,number_of_debtors,category_number,percent_of_category_number
purpose_category,,,
операции с автомобилем,400,4281,9.343611
получение образования,369,3989,9.250439
проведение свадьбы,183,2324,7.874355
операции с недвижимостью,780,10754,7.253115

**Вывод:** Как видим из таблицы, наибольший процент лиц, допустивших просрочку среди лиц, взявших кредиты на автомобиль (9% от выданных кредитов по этой категории) ина образование (тоже 9%). Затем идут кредиты на свадьбу (почти 8%) и кредиты на недвижимое имущество(7%).Исходя из этого, я могу сказать, что кредиты на автомобиль или образование имеют большую вероятность непогашения в срок, нежели кредиты на свадьбу или недвижимость. По моему мнению это связано с тем, что кредиты на автомобиль могут носить спонтанный характер, когда заемщик ошибочно оценивает свою способность выплачивать кредит, а кредиты на образование могут браться молодыми людьми, еще не имеющих устойчивого заработка или  испытывающих трудности в поиске работы по полученной специальности.

Возможные причины появления пропусков в исходных данных:  
1. Повреждение данных.  
2. Нежелание пользователя вводить данные.  
3. Неумышленное незаполнение данных или заполнение нерелевантной информацией.
4. Если пропуски в сборе данных сделаны умышленно (например, они делаются специально согласно выбранному методу/целям).

## Вывод по проекту <a class="anchor" id="id_4"></a>

В этом проекте я проводил анализ данных для того, чтобы дать рекомендации скоринговой системе банка при оценке заемщиков.
В результате проведенного мной анализа я могу сделать следующие выводы:
1) Для того чтобы точно подтвердить гипотезу о том, что численность детей влияет на возврат кредитов в срок нужно провести анализ на большей выборке.  
2) Гипотеза о том, что  есть ли зависимость между семейным положением и возвратом кредита в срок, подтверждается.  
3)Гипотеза о том, что есть зависимость между уровнем дохода и возвратом кредита в срок не подтверждается.  
4)Количество задолженностей по кредиту зависит в том числе от того, на какие цели он выдан.